#gitignore for achne project
.project
BuildPath.txt

#vhdl sources
src/cpu/vhdl/**/*.*
!src/cpu/vhdl/**/*.vhdl
!src/cpu/vhdl/**/*.do

# for memory generation - add whole project
!src/cpu/vhdl/memory/**

#ignore doxygen files
src/cpu/vhdl/latex/
src/cpu/vhdl/html/


